* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
 
  font-family: 'Oswald', sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 15px;
}

h1 {
  position: relative;
  margin-bottom: 60px;
  font-size: 44px;
  text-transform: uppercase;
  color: #424242;
  cursor: default;
  text-align: center;
}

h2 {
  position: relative;
  margin-block: 22px;
  font-size: 32px;
  text-transform: uppercase;
  color: #424242;
  cursor: default;
}

p {
  position: relative;
  margin-bottom: 22px;
  font-size: 1rem;
  color: #424242;
  line-height: 2rem;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

.item:hover {
  flex: 7;
}

.item-1 {
  background-image: url('/media/01.webp');
}

.item-2 {
  background-image: url('/media/04.webp');
}

.item-3 {
  background-image: url('/media/05.webp');
}

.item-4 {
  background-image: url('/media/06.webp');
}

.item-5 {
  background-image: url('/media/07.webp');
}

.social {
  position: absolute;
  right: 35px;
  bottom: 0;
}
.social img {
  display: block;
  width: 32px;
}

.wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
}

.about-image {
  height: 352px;
  object-fit: contain;
  border-radius: 10px;
}

/* .text-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
} */

.jamie-container {
  margin-top: 100px;
  background-color: rgb(235, 235, 235);

}

.jamie-wrapper {
  padding-block: 50px;
}

.jamie-wrapper > h2 {
  text-align: center;
}

.jamie-flex {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
}

.jamie-text {
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.jamie-text-title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.wrapper-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  font-size: 24px;
  cursor: default;
}

.video-container {
  width: 75%;
  margin: auto;
}

.video-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.video-frame {
  height: 200px;
}

.video-title {
  text-align: center;
  margin-top: 100px;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  display: flex;
  max-width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .about-image {
    display: none;
  }
  .jamie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
 .jamie-flex{
  align-items: center;
  justify-content: center;
  width: 100%;
 }
 .jamie-text{
  width: 80%;
  margin-right: 0;
 }
 .jamie-text-title {
  align-items: center;
 }

 .jamie-flex {
  text-align: center;
 }
}

@media only screen and (max-width: 600px) {
  .text-wrapper {
    width: 100%;
  }
}
@media only screen and (min-width: 1400px) {
  .about > p {
    width: 80%;
   }

   .jamie-text{
    width: 60%;
    margin-right: 0;
   }
   .jamie-flex{
    justify-content: center;
    gap: 40px;
   }
}
